@font-face {
    src: url(Assets/fonts/BeautySense.ttf);
    font-family: BeautySense;
}
@font-face {
    src: url(Assets/fonts/BrettleySig.ttf);
    font-family: BrettleySig;
}

body {
    /* border: 1px solid green; */
    margin: 0;
    background-color: rgb(147, 13, 63);
    color: #F2A78C;
}

.container {
    display: flex;
    align-items: center;
}

.shadow h1 {
    background: rgba(160, 2, 41, 1);
    width: 48vw;
    padding-top: 1rem;
    padding-left: 1%;
}

.shadow p {
    background: rgb(59, 17, 106);
    width: 48vw;
    padding-right: 1%;
}

.header {
    position: absolute;
    left: 1%;
    top: 0.5%;
    font-family: BeautySense;
    font-size: 6rem;
    color: rgb(10, 122, 113);
}

.text {
    position: absolute;
    left: 1%;
    top: 90%;
    font-family: BrettleySig;
    font-size: 2rem;
    color: rgb(147, 13, 64);
    display: flex;
    justify-content: end;
}

.flower {
    width: 50vw;
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
}

form {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(10, 75, 118);
    width: 50vw;
    height: 50vw;
}

.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formbody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left {
    display: flex;
    justify-content: space-evenly;
}

.right {
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.formHeader {
    color: rgb(139, 158, 32);
    font-family: BeautySense;
    padding-left: 2%;
    font-size: 4rem;
    text-decoration: underline;
}

.formText {
    color: rgb(139, 158, 32);
    font-family: BeautySense;
    padding-left: 3%;
    font-size: 1.5rem;
}

ul li {
    list-style-type: none;
    font-family: BrettleySig;
    font-size: 2rem;
}

input, label {
    width: 200px;
    color: rgb(235, 124, 165);
    
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]  {
    background-color: rgb(147, 13, 64);
    border-style: none;
    border-radius: 10px;
}

button{
    background-color: rgb(235, 156, 124);
    color: rgb(59, 17, 106);
    font-family: BeautySense;
    font-size: 2rem;
    padding: 14px;
    margin: auto;
    border-radius: 25px;
    border-style: none;
}

input:focus, button:focus {
    box-shadow: 6px 6px 2px 1px rgb(139, 158, 32);
}
